<template>
    <div>
        <div class="form-group">
            <router-link to="/" class="btn btn-secondary">Home</router-link>
            <router-link :to="{name: 'templatesIndex'}" class="btn btn-success">Templates</router-link>
        </div>

        <div class="panel panel-default">
            <h2 class="panel-heading">Clinic page</h2>
            <div class="panel-body">
                <form v-on:submit="saveForm()">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">Name</label>
                            <input type="text" v-model="setting.name" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">Type</label>
                            <input type="text" v-model="setting.type" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">Email</label>
                            <input type="text" v-model="setting.email" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">Country</label>
                            <input type="text" v-model="setting.country" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">Region</label>
                            <input type="text" v-model="setting.region" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">City</label>
                            <input type="text" v-model="setting.city" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">Address</label>
                            <input type="text" v-model="setting.address" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">Chief</label>
                            <input type="text" v-model="setting.chief" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">Phone</label>
                            <input type="text" v-model="setting.phone" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">Currency</label>
                            <!-- <input type="text" v-model="client.male" class="form-control"> -->
                            <select v-model="setting.currency">
                            <option disabled selected value="Выберите">Выберите валюту</option>
                            <option >USD</option>
                            <option >UAH</option>
                            <option >RUB</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">Multiplier</label>
                            <input type="text" v-model="setting.multiplier" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <button class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                user_id: $('#user_id').val(),
                setting: {
                    id: 1,
                    name: "",
                    type: "",
                    email: "",
                    country: "",
                    region: "",
                    city: "",
                    address: "",
                    chief: "",
                    phone: "",
                    currency: "",
                    multiplier: "",
                    created_at: "",
                    updated_at: "",
                }
            }
        },

        mounted() {
            var app = this;
            axios.post('/api/v1/getSetting', {'user_id': app.user_id})
                .then(function (resp) {
                    app.setting = resp.data[0];
                })
                .catch(function (resp) {
                    alert("Could not load settings");
                });
        },
        methods: {
            saveForm() {
                event.preventDefault();
                var app = this;
                var newSetting = app.setting;
                axios.patch('/api/v1/settings/' + app.user_id, newSetting)
                    .then(function (resp) {
                        app.$router.replace('/');
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        alert("Could not create your settings");
                    });
            }
        }
    }
</script>
