<template>
    <div>
        <div class="form-group">
            <router-link :to="{name: 'clinicIndex'}" class="btn btn-secondary">Back</router-link>
            <router-link :to="{name: 'createTemplate'}" class="btn btn-success">Create Template</router-link>
        </div>

        <div class="panel panel-default">
            <h2 class="panel-heading">Templates List</h2>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'component/template.name' | trans }}</th>
                        <th>{{ 'component/template.complaints' | trans }}</th>
                        <th>{{ 'component/template.description' | trans }}</th>
                        <th>{{ 'component/template.treatment' | trans }}</th>
                        <th width="100">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(template, index) in templates" :key="template.id">
                        <td>{{ template.name }}</td>
                        <td>{{ template.complaints }}</td>
                        <td>{{ template.description }}</td>
                        <td>{{ template.treatment }}</td>
                        <td>
                            <router-link :to="{name: 'editTemplate', params: {id: template.id}}" class="btn btn-xs btn-secondary">
                                Edit
                            </router-link>
                            <a href="#"
                                class="btn btn-xs btn-danger"
                                v-on:click="deleteEntry(template.id, index)">
                                Delete
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                templates: [],
                user_id: $('#user_id').val(),
            }
        },
        mounted() {
            var app = this;
            axios.post('/api/v1/getTemplates', {'user_id': app.user_id})
                .then(function (resp) {
                    app.templates = resp.data;
                })
                .catch(function (resp) {
                    alert("Could not load templates");
                });
        },
        methods: {
            deleteEntry(id, index) {
                if (confirm("Do you really want to delete it?")) {
                    var app = this;
                    axios.delete('/api/v1/templates/' + id)
                        .then(function (resp) {
                            app.templates.splice(index, 1);
                        })
                        .catch(function (resp) {
                            alert("Could not delete company");
                        });
                }
            }
        }
    }
</script>
