<template>
    <div>
        <div class="form-group">
            <router-link :to="{name: 'templatesIndex'}" class="btn btn-secondary">Back</router-link>
        </div>

        <div class="panel panel-default">
            <h2 class="panel-heading">Create Template</h2>
            <div class="panel-body">
                <form v-on:submit="saveForm()">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/template.name' | trans }}</label>
                            <input type="text" v-model="template.name" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/template.complaints' | trans }}</label>
                            <input type="text" v-model="template.complaints" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/template.description' | trans }}</label>
                            <input type="text" v-model="template.description" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/template.treatment' | trans }}</label>
                            <input type="text" v-model="template.treatment" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <button class="btn btn-success">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                template: {
                    name: '',
                    complaints: '',
                    description: '',
                    treatment: '',
                    user_id: $('#user_id').val(),
                }
            }
        },
        methods: {
            saveForm() {
                event.preventDefault();
                var app = this;
                var newTemplate = app.template;
                axios.post('/api/v1/templates', newTemplate)
                    .then(function (resp) {
                        app.$router.push({path: '/settings/templates'});
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        alert("Could not create your Template");
                    });
            }
        }
    }
</script>
