<template>
    <div>
        <div class="form-group">
            <router-link :to="{name: 'templatesIndex'}" class="btn btn-secondary">Back</router-link>
        </div>

        <div class="panel panel-default">
            <h2 class="panel-heading">Edit Template</h2>
            <div class="panel-body">
                <form v-on:submit="saveForm()">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/template.name' | trans }}</label>
                            <input type="text" v-model="template.name" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/template.complaints' | trans }}</label>
                            <input type="text" v-model="template.complaints" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/template.description' | trans }}</label>
                            <input type="text" v-model="template.description" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/template.treatment' | trans }}</label>
                            <input type="text" v-model="template.treatment" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <button class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                templateId: null,
                template: {
                    name: '',
                    phone: '',
                    address: '',
                    email: '',
                    birthday: '',
                    additional: '',
                    user_id: $('#user_id').val(),
                }
            }
        },

        mounted() {
            let app = this;
            let id = app.$route.params.id;
            app.templateId = id;
            axios.get('/api/v1/templates/' + id)
                .then(function (resp) {
                    app.template = resp.data;
                })
                .catch(function () {
                    alert("Could not load your template")
                });
        },
        methods: {
            saveForm() {
                event.preventDefault();
                var app = this;
                var newTtemplate = app.template;
                axios.patch('/api/v1/templates/' + app.templateId, newTtemplate)
                    .then(function (resp) {
                        app.$router.replace('/settings/templates');
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        alert("Could not create your template");
                    });
            }
        }
    }
</script>
