<template>
    <div>
        <div class="form-group">
            <router-link to="/" class="btn btn-secondary">Back</router-link>
        </div>

        <div class="panel panel-default">
            <h2 class="panel-heading">Create new Doctor</h2>
            <div class="panel-body">
                <form v-on:submit="saveForm()">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/doctor.name' | trans }}</label>
                            <input type="text" v-model="doctor.name" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/doctor.phone' | trans }}</label>
                            <input type="text" v-model="doctor.phone" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/doctor.address' | trans }}</label>
                            <input type="text" v-model="doctor.address" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/doctor.email' | trans }}</label>
                            <input type="text" v-model="doctor.email" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/doctor.birthday' | trans }}</label>
                            <input type="text" v-model="doctor.birthday" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/doctor.additional' | trans }}</label>
                            <input type="text" v-model="doctor.additional" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <button class="btn btn-success">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                doctor: {
                    name: '',
                    phone: '',
                    address: '',
                    email: '',
                    birthday: '',
                    additional: '',
                    user_id: $('#user_id').val(),
                }
            }
        },
        methods: {
            saveForm() {
                event.preventDefault();
                var app = this;
                var newDoctor = app.doctor;
                axios.post('/api/v1/doctors', newDoctor)
                    .then(function (resp) {
                        app.$router.push({path: '/'});
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        alert("Could not create your Doctor");
                    });
            }
        }
    }
</script>
