<template>
    <div>
        <div class="form-group">
            <router-link :to="{name: 'createDoctor'}" class="btn btn-success">Create Doctor</router-link>
            <router-link :to="{name: 'ClientsIndex'}" class="btn btn-success float-right">Clients</router-link>
        </div>
        <div class="panel panel-default">
            <h2 class="panel-heading">Doctors list</h2>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'component/doctor.name' | trans }}</th>
                        <th>{{ 'component/doctor.phone' | trans }}</th>
                        <th>{{ 'component/doctor.address' | trans }}</th>
                        <th>{{ 'component/doctor.email' | trans }}</th>
                        <th>{{ 'component/doctor.birthday' | trans }}</th>
                        <th>{{ 'component/doctor.additional' | trans }}</th>
                        <th width="100">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(doctor, index) in doctors" :key="doctor.id">
                        <td><router-link :to="{name: 'registryDoctor', params: {id: doctor.id}}" class="btn btn-xs btn-secondary">
                                {{ doctor.name }}
                            </router-link>
                        </td>
                        <td>{{ doctor.phone }}</td>
                        <td>{{ doctor.address }}</td>
                        <td>{{ doctor.email }}</td>
                        <td>{{ doctor.birthday }}</td>
                        <td>{{ doctor.additional }}</td>
                        <td>
                            <router-link :to="{name: 'editDoctor', params: {id: doctor.id}}" class="btn btn-xs btn-secondary">
                                Edit
                            </router-link>
                            <a href="#"
                                class="btn btn-xs btn-danger"
                                v-on:click="deleteEntry(doctor.id, index)">
                                Delete
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                doctors: [],
                user_id: $('#user_id').val(),
            }
        },
        mounted() {
            var app = this;
            axios.post('/api/v1/getDoctors', {'user_id': app.user_id})
                .then(function (resp) {
                    app.doctors = resp.data;
                })
                .catch(function (resp) {
                    alert("Could not load doctors");
                });
        },
        methods: {
            deleteEntry(id, index) {
                if (confirm("Do you really want to delete it?")) {
                    var app = this;
                    axios.delete('/api/v1/doctors/' + id)
                        .then(function (resp) {
                            app.doctors.splice(index, 1);
                        })
                        .catch(function (resp) {
                            alert("Could not delete company");
                        });
                }
            }
        }
    }
</script>
