<template>
    <div>
        <div class="form-group">
            <router-link to="/" class="btn btn-secondary">Back</router-link>
        </div>
        <div class="row">
            <div class="col-md-2">
                <v-date-picker
                v-model="dates"
                mode="multiple"
                :value="null"
                color="red"
                is-dark
                is-inline
                />
            </div>
            <div class="col-md-10">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th v-for="date in dates" :key="date.id">{{date}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="time in times" :key="time.id">
                            <td v-for="date in dates" :key="date.id">
                            <input v-model=doctor.ddates :name="`doctor[${date}][${time}]`" :placeholder="time" type="text">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Registry</div>
            <div class="panel-body">
                <form v-on:submit="saveForm()">
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                dates: new Date(),
                times: [
                    '14.00',
                    '14:30',
                    '15:00',
                    '15:30',
                    '16:00',
                    '16:30',
                    '17:00',
                    '17:30',
                    '18:00',
                    '18:30',
                    '19:00',
                ],
                doctorId: null,
                doctor: {
                    ddates:{
                        /* ddate:{
                            dtime:[
                                '321312321',
                            ],
                        } */
                    },
                    name: '',
                    phone: '',
                    address: '',
                    email: '',
                    birthday: '',
                    additional: '',
                    user_id: $('#user_id').val(),
                }
            }
        },

        mounted() {
            let app = this;
            let id = app.$route.params.id;
            app.doctorId = id;
            axios.get('/api/v1/doctors/' + id)
                .then(function (resp) {
                    app.doctor = resp.data;
                })
                .catch(function () {
                    alert("Could not load your doctor")
                });
        },
        methods: {
            saveForm() {
                event.preventDefault();
                var app = this;
                var newDoctor = app.doctor;
                axios.patch('/api/v1/doctors/' + app.doctorId, newDoctor)
                    .then(function (resp) {
                        app.$router.replace('/');
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        alert("Could not create your doctor");
                    });
            }
        }
    }
</script>
