<template>
    <div>
        <div class="form-group">
            <router-link :to="{name: 'editCard'}" class="btn btn-secondary">Back</router-link>
        </div>
        <div class="panel panel-default">
            <h2 class="panel-heading">Create Diagnosis</h2>
            <div class="panel-body">
                <div class="row">
                    <select v-model="diagnosis">
                        <option disabled value="">Choose diagnosis</option>
                        <option v-for="(template, index) in templates" :value="template" :key="index">{{template.name}}</option>
                    </select>
                    <v-date-picker
                    value = null
                    v-model='wrongdate'
                    :masks = "{ L: '',
                                data: 'YYYY/MM/DD',
                                input: 'DD/MM/YYYY',
                                dayPopover: ''}"
                    color="red"
                    is-dark
                    />
                </div>
                <form id="diagnosData" >
                    <!-- <div class="row">
                            <div class="col-xs-12 col-md-6 form-group">
                                <label>Rengen
                                    <input type="file" id="files" ref="files" multiple v-on:change="handleFileUploads()"/>
                                </label>
                            </div>

                        </div> -->

                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/template.name' | trans }}</label>
                            <input type="text" v-model="diagnosis.name" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/template.complaints' | trans }}</label>
                            <input type="text" v-model="diagnosis.complaints" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/template.description' | trans }}</label>
                            <input type="text" v-model="diagnosis.description" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/template.treatment' | trans }}</label>
                            <input type="text" v-model="diagnosis.treatment" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <!-- <button class="btn btn-success">Create</button> -->
                            <button v-on:click="saveForm()">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                templates: [],
                user_id: $('#user_id').val(),
                wrongdate: '',
                diagnosis: {
                    name: '',
                    type: '',
                    files: '',
                    date: '',
                    complaints: '',
                    description: '',
                    treatment: '',
                    user_id: $('#user_id').val(),
                }
            }
        },
        computed: {
            okdata: function () {
            return this.diagnosis.date = this.wrongdate.toLocaleDateString();
            }
        },
        mounted() {
            var app = this;
            axios.post('/api/v1/getTemplates', {'user_id': app.user_id})
                .then(function (resp) {
                    app.templates = resp.data;
                })
                .catch(function (resp) {
                    alert("Could not load templates");
                });
        },
        methods: {
            // handleFileUploads(){
            //     this.diagnosis.files = this.$refs.files.files;
            // },
            // saveForm(){
            //     var app = this;
            //     app.diagnosis.client_id = app.$route.params.id;
            //     let formData = new FormData(document.getElementById("diagnosData"));
            //     for( var i = 0; i < this.diagnosis.files.length; i++ ){
            //     let file = this.diagnosis.files[i];
            //     formData.append('files[' + i + ']', file);
            //     }

            //     formData.append('attributes',JSON.stringify(this.diagnosis))
            //     axios.post( '/api/v1/testFile',
            //         formData,
            //         {
            //             headers: {
            //                 'Content-Type': 'multipart/form-data'
            //             },
            //         }
            //         ).then(function (resp) {
            //             app.$router.push({path: '/admin/clients/card/'+app.diagnosis.client_id});
            //         })
            //         .catch(function (resp) {
            //             console.log(resp);
            //             alert("Could not create your Diagnos");
            //         });
            // },
            saveForm() {
                event.preventDefault();
                var app = this;
                app.diagnosis.client_id = app.$route.params.id;
                var newDiagnos = app.diagnosis;
                axios.post('/api/v1/clients/card', newDiagnos)
                    .then(function (resp) {
                        app.$router.push({path: '/admin/clients/card/'+app.diagnosis.client_id});
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        alert("Could not create your Template");
                    });
            }
        }
    }
</script>
