<template>
    <div>
        <div class="form-group">
            <router-link :to="{name: 'editCard'}" class="btn btn-secondary">Back</router-link>
        </div>
        <div class="panel panel-default">
            <h2 class="panel-heading">Edit Diagnosis</h2>
            <div class="panel-body">
                <div class="row">
                <select v-model="diagnos">
                    <option disabled value="null">Choose diagnosis</option>
                    <option v-for="(template, index) in templates" :value="template" :key="index">{{template.name}}</option>
                </select>
                <v-date-picker
                    value = null
                    v-model='wrongdate'
                    :masks = "{ L: '',
                                data: 'YYYY/MM/DD',
                                input: 'DD/MM/YYYY',
                                dayPopover: ''}"
                    color="red"
                    is-dark
                    />
                    <input type="text" disabled :value="diagnos.date">
                </div>
                <form id="diagnosData" v-on:submit="saveForm()">
                    <!-- <div class="row col-md-12">
                        <div class="col-md-6 col-lg-6" v-for="(img,index) in diagnos.files" :key="index">
                            <img  :src="img"  alt="">
                            <a href="#"
                                    class="btn btn-xs btn-danger"
                                    v-on:click="deleteImg(index)">
                                    Delete
                            </a>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-xs-12 col-md-6 form-group">
                                <label>Rengen
                                    <input type="file" id="files" ref="files" multiple v-on:change="handleFileUploads()"/>
                                </label>
                            </div>
                        </div> -->
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/template.name' | trans }}</label>
                            <input type="text" v-model="diagnos.name" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/template.complaints' | trans }}</label>
                            <input type="text" v-model="diagnos.complaints" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/template.description' | trans }}</label>
                            <input type="text" v-model="diagnos.description" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/template.treatment' | trans }}</label>
                            <input type="text" v-model="diagnos.treatment" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <button class="btn btn-success">Edit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                templates: [],
                wrongdate: '',
                user_id: $('#user_id').val(),
                diagnos: {
                    name: '',
                    type: '',
                    date: '',
                    files: '',
                    complaints: '',
                    description: '',
                    treatment: '',
                    user_id: $('#user_id').val(),
                }
            }
        },
        computed: {
            okdata: function () {
            return this.diagnos.date = this.wrongdate.toLocaleDateString();
            }
        },
        mounted() {
            var app = this;
            let id = app.$route.params.nid;
            axios.get('/api/v1/clients/card/' + id)
                .then(function (resp) {
                    app.diagnos = resp.data;
                })
                .catch(function () {
                    alert("Could not load your diagnos")
                });
            axios.post('/api/v1/getTemplates', {'user_id': app.user_id})
                .then(function (resp) {
                    app.templates = resp.data;
                })
                .catch(function (resp) {
                    alert("Could not load templates");
                });
        },
        methods: {
            // handleFileUploads(){
            //     this.diagnos.files = this.$refs.files.files;
            // },
            // saveForm(){
            //     var app = this;
            //     app.diagnos.client_id = app.$route.params.id;
            //     let formData = new FormData(document.getElementById("diagnosData"));
            //     for( var i = 0; i < this.diagnos.files.length; i++ ){
            //     let file = this.diagnos.files[i];
            //     formData.append('files[' + i + ']', file);
            //     }
            //     let id = app.$route.params.nid;
            //     formData.append('attributes',JSON.stringify(this.diagnos))
            //     axios.post('/api/v1/testFile',
            //         formData,
            //         {
            //             headers: {
            //                 'Content-Type': 'multipart/form-data'
            //             },
            //         }
            //         ).then(function (resp) {
            //             app.$router.push({path: '/admin/clients/card/'+app.diagnos.client_id});
            //         })
            //         .catch(function (resp) {
            //             console.log(resp);
            //             alert("Could not create your Diagnos");
            //         });
            // },
            saveForm() {
                event.preventDefault();
                var app = this;
                var newDiagnos = app.diagnos;
                let id = app.$route.params.nid;
                var client_id = app.$route.params.id;
                axios.patch('/api/v1/clients/card/' + id, newDiagnos)
                    .then(function (resp) {
                        app.$router.push({path: '/admin/clients/card/'+client_id});
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        alert("Could not edit diagnos");
                    });
            },
            // deleteImg(index) {
            //     if (confirm("Do you really want to delete it?")) {
            //         var app = this;
            //         app.diagnos.files.splice(index, 1);
            //     }
            // }
        }
    }
</script>
