<template>
    <div>
        <div class="form-group">
            <router-link :to="{name: 'ClientsIndex'}" class="btn btn-secondary">Back</router-link>
        </div>
        <div class="panel panel-default">
            <h2 class="panel-heading">Diagnosis of client</h2>

        </div>
    </div>
</template>

<script>

</script>
