<template>
    <div>
        <div class="form-group">
            <router-link :to="{name: 'ClientsIndex'}" class="btn btn-secondary">Back</router-link>
        </div>

        <div class="panel panel-default">
            <h2 class="panel-heading">Edit Client</h2>
            <div class="panel-body">
                <form v-on:submit="saveForm()">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/client.name' | trans }}</label>
                            <input type="text" v-model="client.name" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/client.last_name' | trans }}</label>
                            <input type="text" v-model="client.last_name" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/client.patronymic' | trans }}</label>
                            <input type="text" v-model="client.patronymic" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/client.card_number' | trans }}</label>
                            <input type="text" v-model="client.card_number" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/client.male' | trans }}</label>
                            <!-- <input type="text" v-model="client.male" class="form-control"> -->
                            <select v-model="client.male">
                            <option disabled value="">Выберите пол</option>
                            <option value="1">Male</option>
                            <option value="0">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/client.phone' | trans }}</label>
                            <input type="text" v-model="client.phone" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/client.country' | trans }}</label>
                            <input type="text" v-model="client.country" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/client.city' | trans }}</label>
                            <input type="text" v-model="client.city" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/client.address' | trans }}</label>
                            <input type="text" v-model="client.address" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/client.email' | trans }}</label>
                            <input type="text" v-model="client.email" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="control-label">{{ 'component/client.birthday' | trans }}</label>
                            <input type="text" v-model="client.birthday" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <button class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                clientId: null,
                client: {
                    name: '',
                    phone: '',
                    address: '',
                    email: '',
                    birthday: '',
                    additional: '',
                    user_id: $('#user_id').val(),
                }
            }
        },

        mounted() {
            let app = this;
            let id = app.$route.params.id;
            app.clientId = id;
            axios.get('/api/v1/clients/' + id)
                .then(function (resp) {
                    app.client = resp.data;
                })
                .catch(function () {
                    alert("Could not load your client")
                });
        },
        methods: {
            saveForm() {
                event.preventDefault();
                var app = this;
                var newClient = app.client;
                axios.patch('/api/v1/clients/' + app.clientId, newClient)
                    .then(function (resp) {
                        app.$router.replace('/clients');
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        alert("Could not create your client");
                    });
            }
        }
    }
</script>
