<template>
    <div>
        <div class="form-group">
            <router-link :to="{name: 'ClientsIndex'}" class="btn btn-secondary">Back</router-link>
            <router-link :to="{name: 'createDiagnosis'}" class="btn btn-success">Add Diagnosis</router-link>
        </div>
        <div class="container">
            <div class="row">
            <label>Xray
                <input type="file" id="files" ref="files" multiple v-on:change="handleFilesUpload()"/>
            </label>
            <v-date-picker
                value = null
                v-model='wrongdate'
                :masks = "{ L: '',
                            data: 'YYYY/MM/DD',
                            input: 'DD/MM/YYYY',
                            dayPopover: ''}"
                color="red"
                is-dark
            />
            <button v-on:click="submitFiles()">Upload</button>
            </div>
        </div>
        <div class="panel panel-default">
            <h2 class="panel-heading">Client's Card</h2>
            <div class="panel-body">

                <div v-for="(xray,index) in xrays" class="row" :key="index">
                    <!-- <div class=""> -->
                    <label class="float-left" for="">{{xray.date}}</label>
                        <div class="float-left col-md-2 col-lg-2">
                            <img  :src="xray.image"  alt="" width="200" height="200">
                        </div>
                        <a href="#"
                                    class="btn btn-xs btn-danger"
                                    v-on:click="deleteImage(xray.id,index)">
                                    Delete
                            </a>
                    <!-- </div> -->
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'component/template.name' | trans }}</th>
                        <th>{{ 'component/template.complaints' | trans }}</th>
                        <th>{{ 'component/template.description' | trans }}</th>
                        <th>{{ 'component/template.treatment' | trans }}</th>
                        <th>Date</th>
                        <th width="100">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(diagnos, index) in diagnosis" :key="diagnos.id">
                        <td>{{ diagnos.name }}</td>
                        <td>{{ diagnos.complaints }}</td>
                        <td>{{ diagnos.description }}</td>
                        <td>{{ diagnos.treatment }}</td>
                        <td>{{ diagnos.date }}</td>
                        <td>
                            <router-link :to="{name: 'editDiagnosis', params: {nid: diagnos.id}}" class="btn btn-xs btn-secondary">
                                Edit
                            </router-link>
                            <a href="#"
                                class="btn btn-xs btn-danger"
                                v-on:click="deleteEntry(diagnos.id, index)">
                                Delete
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                diagnosis: [],
                xrays: '',
                wrongdate: '',
                correctDate:'',
                xrayNewfiles: '',
                user_id: $('#user_id').val(),
            }
        },
        computed: {
            okdata: function () {
            return this.correctDate = this.wrongdate.toLocaleDateString();
            }
        },
        mounted() {
            var app = this;
            app.diagnosis.client_id = app.$route.params.id;
            axios.post('/api/v1/getDiagnosis', {'client_id': app.diagnosis.client_id})
                .then(function (resp) {
                    app.diagnosis = resp.data.diagnosis;
                    app.xrays = resp.data.xrays;
                })
                .catch(function (resp) {
                    alert("Could not load diagnosis");
                });
        },
        methods: {
            submitFiles(){
                var app = this;
                app.diagnosis.client_id = app.$route.params.id;
                let formData = new FormData();
                for( var i = 0; i < this.xrayNewfiles.length; i++ ){
                let file = this.xrayNewfiles[i];
                formData.append('files[' + i + ']', file);
                }
                formData.append('client_id', app.diagnosis.client_id);
                formData.append('date', app.correctDate);

                axios.post( '/api/v1/addXray',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        },
                    }
                    ).then(function (resp) {
                        console.log(resp.data);
                        app.xrays = resp.data;
                        // app.$router.push({path: '/admin/clients/card/'+app.diagnosis.client_id});
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        alert("Could not add your Xray");
                    });
            },
            handleFilesUpload(){
                console.log('ololo');
                this.xrayNewfiles = this.$refs.files.files;
            },
            deleteEntry(id, index) {
                if (confirm("Do you really want to delete it?")) {
                    var app = this;
                    axios.delete('/api/v1/clients/card/' + id)
                        .then(function (resp) {
                            app.diagnosis.splice(index, 1);
                        })
                        .catch(function (resp) {
                            alert("Could not delete zapis ;)");
                        });
                }
            },
            deleteImage(id, index) {
                if (confirm("Do you really want to delete it?")) {
                    var app = this;
                    axios.delete('/api/v1/clients/xray/' + id)
                        .then(function (resp) {
                            app.xrays.splice(index, 1);
                        })
                        .catch(function (resp) {
                            alert("Could not delete xray ;)");
                        });
                }
            }
        }
    }
</script>
