<template>
    <div>
        <div class="form-group">
            <router-link :to="{name: 'createClient'}" class="btn btn-success">Create Client</router-link>
            <router-link to="/" class="btn btn-success float-right">Doctors</router-link>
        </div>

        <div class="panel panel-default">
            <h2 class="panel-heading">Client list</h2>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'component/client.name' | trans }}</th>
                        <th>{{ 'component/client.last_name' | trans }}</th>
                        <th>{{ 'component/client.patronymic' | trans }}</th>
                        <th>{{ 'component/client.card_number' | trans }}</th>
                        <th>{{ 'component/client.male' | trans }}</th>
                        <th>{{ 'component/client.phone' | trans }}</th>
                        <th>{{ 'component/client.country' | trans }}</th>
                        <th>{{ 'component/client.address' | trans }}</th>
                        <th>{{ 'component/client.email' | trans }}</th>
                        <th>{{ 'component/client.birthday' | trans }}</th>
                        <th width="100">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(client, index) in clients" :key="index">
                        <td><router-link :to="{name: 'editCard', params: {id: client.id}}" class="btn btn-xs btn-secondary">
                                {{ client.name }}
                            </router-link>
                        </td>
                        <td>{{ client.last_name }}</td>
                        <td>{{ client.patronymic }}</td>
                        <td>{{ client.card_number }}</td>
                        <td v-if="client.male == 1">Male</td>
                        <td v-else>Female</td>
                        <td>{{ client.phone }}</td>
                        <td>{{ client.country }}</td>
                        <td>{{ client.address }}</td>
                        <td>{{ client.email }}</td>
                        <td>{{ client.birthday }}</td>
                        <td>
                            <router-link :to="{name: 'editClient', params: {id: client.id}}" class="btn btn-xs btn-secondary">
                                Edit
                            </router-link>
                            <a href="#"
                                class="btn btn-xs btn-danger"
                                v-on:click="deleteEntry(client.id, index)">
                                Delete
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                clients: [],
                user_id: $('#user_id').val(),
            }
        },
        mounted() {
            var app = this;
            axios.post('/api/v1/getClients', {'user_id': app.user_id})
                .then(function (resp) {
                    app.clients = resp.data;
                })
                .catch(function (resp) {
                    alert("Could not load clients");
                });
        },
        methods: {
            deleteEntry(id, index) {
                if (confirm("Do you really want to delete it?")) {
                    var app = this;
                    axios.delete('/api/v1/clients/' + id)
                        .then(function (resp) {
                            app.clients.splice(index, 1);
                        })
                        .catch(function (resp) {
                            alert("Could not delete company");
                        });
                }
            }
        }
    }
</script>
